In [9]:
# SQLAlchemy
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Table, Column, Integer, String, Float, MetaData

#pandas for data manipulation and export
import pandas as pd

In [10]:
db_uri = "sqlite:///db.sqlite"
engine = create_engine(db_uri, echo = True)

In [20]:
df = pd.read_csv("data/S2802.csv", na_values = ["-"])
df = df.astype({"fips_id": "object"})
print(df.dtypes[1:20])
#df.columns
#df

fips_id                                                               object
GeographicAreaName                                                    object
tract_name                                                            object
county_name                                                           object
state                                                                 object
E_Households                                                           int64
E_Total_Households_Race_Hispanic_Latino_Whitealone                     int64
E_Computer_Broadband_Totalhouseholds                                   int64
E_Computer_Broadband_Households_Race_Hispanic_Latino_Whitealone        int64
PE_Computer_Broadband_Household                                      float64
PE_Computer_Broadband_Households_Race_Hispanic_Latino_Whitealone     float64
E_Computer_NoInternet_Households                                       int64
E_Computer_NoInternet_Households_Race_Hispanic_Latino_Whitealone       int64
PE_Computer_NoInternet_Households                                    float64
PE_Computer_NoInternet_Households_Race_Hispanic_Latino_Whitealone    float64
E_NoComputer_Households                                                int64
E_NoComputer_Households_Race_Hispanic_Latino_Whitealone                int64
PE_NoComputer_Households                                             float64
PE_NoComputer_Households_Race_Hispanic_Latino_Whitealone             float64
dtype: object

In [25]:
df.columns

Index(['id', 'fips_id', 'GeographicAreaName', 'tract_name', 'county_name',
       'state', 'E_Households',
       'E_Total_Households_Race_Hispanic_Latino_Whitealone',
       'E_Computer_Broadband_Totalhouseholds',
       'E_Computer_Broadband_Households_Race_Hispanic_Latino_Whitealone',
       ...
       'PE_Computer_NoInternet_Households_EducationHSsomeCollege',
       'E_NoComputer_Households_EducationHSsomeCollege',
       'PE_NoComputer_Households_EducationHSsomeCollege',
       'E_Total_Households_EducationBachelorsPlus',
       'E_Computer_Broadband_Households_EducationBachelorsPlus',
       'PE_Computer_Broadband_Households_EducationBachelorsPlus',
       'E_Computer_NoInternet_Households_EducationBachelorsPlus',
       'PE_Computer_NoInternet_Households_EducationBachelorsPlus',
       'E_NoComputer_Households_EducationBachelorsPlus',
       'PE_NoComputer_Households_EducationBachelorsPlus'],
      dtype='object', length=104)

## Join FCC dataframe

In [14]:
fcc = pd.read_csv("data/fcc_data.csv") #, na_values = ["-"]
fcc = fcc.astype({"tract": "object"})
fcc.dtypes
fcc

,Unnamed: 0,logrecno,provider_id,frn,providername,dbaname,holdingcompanyname,hoconum,hocofinal,stateabbr,blockcode,tract,techcode,consumer,maxaddown,maxadup,business,maxcirdown,maxcirup
0,0,4268,48582,17678236,Webformix Company,Webformix,Webformix Company,290118,Webformix Company,OR,4.101400e+14,41013950100,70,1,40,10,1,40,10
1,1,4269,48582,17678236,Webformix Company,Webformix,Webformix Company,290118,Webformix Company,OR,4.101400e+14,41013950300,70,1,40,10,1,40,10
2,2,4270,48582,17678236,Webformix Company,Webformix,Webformix Company,290118,Webformix Company,OR,4.101400e+14,41013950200,70,1,40,10,1,40,10
3,3,4271,48582,17678236,Webformix Company,Webformix,Webformix Company,290118,Webformix Company,OR,4.101400e+14,41013950100,70,1,40,10,1,40,10
4,4,4272,48582,17678236,Webformix Company,Webformix,Webformix Company,290118,Webformix Company,OR,4.101400e+14,41013950400,70,1,40,10,1,40,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,5263,48582,17678236,Webformix Company,Webformix,Webformix Company,290118,Webformix Company,OR,4.101400e+14,41013950300,70,1,40,10,1,40,10
996,996,5264,48582,17678236,Webformix Company,Webformix,Webformix Company,290118,Webformix Company,OR,4.101400e+14,41013950200,70,1,40,10,1,40,10
997,997,5265,48582,17678236,Webformix Company,Webformix,Webformix Company,290118,Webformix Company,OR,4.101400e+14,41013950300,70,1,40,10,1,40,10
998,998,5266,48582,17678236,Webformix Company,Webformix,Webformix Company,290118,Webformix Company,OR,4.101400e+14,41013950200,70,1,40,10,1,40,10
999,999,5267,48582,17678236,Webformix Company,Webformix,Webformix Company,290118,Webformix Company,OR,4.101400e+14,41013950100,70,1,40,10,1,40,10

In [ ]:
df.to_sql("s2802", con=engine, if_exists="replace", index_label=None)

In [32]:
engine.execute("SELECT * FROM s2802 LIMIT 2").fetchall()

2020-07-24 23:12:05,339 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-07-24 23:12:05,340 INFO sqlalchemy.engine.base.Engine ()
2020-07-24 23:12:05,343 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-07-24 23:12:05,345 INFO sqlalchemy.engine.base.Engine ()
2020-07-24 23:12:05,348 INFO sqlalchemy.engine.base.Engine SELECT * FROM s2802 LIMIT 2
2020-07-24 23:12:05,350 INFO sqlalchemy.engine.base.Engine ()

[(0, '1400000US41001950100', 41001950100, 'Census Tract 9501, Baker County, Oregon', 'Census Tract 9501', ' Baker', 'Oregon', 2806, 2659, 2020, 1887, 72.0, 71.0, 555, 541, 19.8, 20.3, 199, 199, 7.1, 7.5, 26, 26, 100.0, 0, 0.0, 0, 0.0, 24, 24, 100.0, 0, 0.0, 0, 0.0, 22, 22, 100.0, 0, 0.0, 0, 0.0, 9, 2, 22.2, 7, 77.8, 0, 0.0, 47, 47, 100.0, 0, 0.0, 0, 0.0, 19, 12, 63.2, 7, 36.8, 0, 0.0, 161, 79, 49.1, 82, 50.9, 0, 0.0, 2535, 1843, 72.7, 461, 18.2, 199, 7.9, 2217, 1614, 72.8, 372, 16.8, 199, 9.0, 249, 103, 41.4, 96, 38.6, 50, 20.1, 1519, 1092, 71.9, 275, 18.1, 122, 8.0, 449, 419, 93.3, 1, 0.2, 27, 6.0),
 (1, '1400000US41001950200', 41001950200, 'Census Tract 9502, Baker County, Oregon', 'Census Tract 9502', ' Baker', 'Oregon', 3435, 3247, 2764, 2685, 80.5, 82.7, 255, 238, 7.4, 7.3, 416, 324, 12.1, 10.0, 25, 21, 84.0, 4, 16.0, 0, 0.0, 41, 41, 100.0, 0, 0.0, 0, 0.0, 0, 0, None, 0, None, 0, None, 0, 0, None, 0, None, 0, None, 99, 8, 8.1, 13, 13.1, 78, 78.8, 23, 9, 39.1, 0, 0.0, 14, 60.9, 133, 31, 23.3, 13, 9.8, 89, 66.9, 3210, 2659, 82.8, 238, 7.4, 313, 9.8, 2374, 1800, 75.8, 210, 8.8, 364, 15.3, 164, 62, 37.8, 4, 2.4, 98, 59.8, 1549, 1131, 73.0, 192, 12.4, 226, 14.6, 661, 607, 91.8, 14, 2.1, 40, 6.1)]

In [26]:
fcc.to_sql("fcc", con=engine, if_exists="replace", index_label=None)

2020-07-25 11:19:39,507 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-07-25 11:19:39,511 INFO sqlalchemy.engine.base.Engine ()
2020-07-25 11:19:39,517 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-07-25 11:19:39,519 INFO sqlalchemy.engine.base.Engine ()
2020-07-25 11:19:39,524 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("fcc")
2020-07-25 11:19:39,525 INFO sqlalchemy.engine.base.Engine ()
2020-07-25 11:19:39,527 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("fcc")
2020-07-25 11:19:39,529 INFO sqlalchemy.engine.base.Engine ()
2020-07-25 11:19:39,538 INFO sqlalchemy.engine.base.Engine
CREATE TABLE fcc (
	"index" BIGINT,
	"Unnamed: 0" BIGINT,
	logrecno BIGINT,
	provider_id BIGINT,
	frn BIGINT,
	providername TEXT,
	dbaname TEXT,
	holdingcompanyname TEXT,
	hoconum BIGINT,
	hocofinal TEXT,
	stateabbr TEXT,
	blockcode FLOAT,
	tract BIGINT,
	techcode BIGINT,
	consumer BIGINT,
	maxaddown BIGINT,
	maxadup BIGINT,
	business BIGINT,
	maxcirdown BIGINT,
	maxcirup BIGINT
)


2020-07-25 11:19:39,539 INFO sqlalchemy.engine.base.Engine ()
2020-07-25 11:19:39,543 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-25 11:19:39,549 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_fcc_index ON fcc ("index")
2020-07-25 11:19:39,551 INFO sqlalchemy.engine.base.Engine ()
2020-07-25 11:19:39,555 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-25 11:19:39,561 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-07-25 11:19:39,620 INFO sqlalchemy.engine.base.Engine INSERT INTO fcc ("index", "Unnamed: 0", logrecno, provider_id, frn, providername, dbaname, holdingcompanyname, hoconum, hocofinal, stateabbr, blockcode, tract, techcode, consumer, maxaddown, maxadup, business, maxcirdown, maxcirup) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-07-25 11:19:39,623 INFO sqlalchemy.engine.base.Engine ((0, 0, 4268, 48582, 17678236, 'Webformix Company', 'Webformix', 'Webformix Company', 290118, 'Webformix Company', 'OR', 410140000000000.0, 41013950100, 70, 1, 40, 10, 1, 40, 10), (1, 1, 4269, 48582, 17678236, 'Webformix Company', 'Webformix', 'Webformix Company', 290118, 'Webformix Company', 'OR', 410140000000000.0, 41013950300, 70, 1, 40, 10, 1, 40, 10), (2, 2, 4270, 48582, 17678236, 'Webformix Company', 'Webformix', 'Webformix Company', 290118, 'Webformix Company', 'OR', 410140000000000.0, 41013950200, 70, 1, 40, 10, 1, 40, 10), (3, 3, 4271, 48582, 17678236, 'Webformix Company', 'Webformix', 'Webformix Company', 290118, 'Webformix Company', 'OR', 410140000000000.0, 41013950100, 70, 1, 40, 10, 1, 40, 10), (4, 4, 4272, 48582, 17678236, 'Webformix Company', 'Webformix', 'Webformix Company', 290118, 'Webformix Company', 'OR', 410140000000000.0, 41013950400, 70, 1, 40, 10, 1, 40, 10), (5, 5, 4273, 48582, 17678236, 'Webformix Company', 'Webformix', 'Webformix Company', 290118, 'Webformix Company', 'OR', 410140000000000.0, 41013950200, 70, 1, 40, 10, 1, 40, 10), (6, 6, 4274, 48582, 17678236, 'Webformix Company', 'Webformix', 'Webformix Company', 290118, 'Webformix Company', 'OR', 410140000000000.0, 41013950200, 70, 1, 40, 10, 1, 40, 10), (7, 7, 4275, 48582, 17678236, 'Webformix Company', 'Webformix', 'Webformix Company', 290118, 'Webformix Company', 'OR', 410140000000000.0, 41013950100, 70, 1, 40, 10, 1, 40, 10)  ... displaying 10 of 1000 total bound parameter sets ...  (998, 998, 5266, 48582, 17678236, 'Webformix Company', 'Webformix', 'Webformix Company', 290118, 'Webformix Company', 'OR', 410140000000000.0, 41013950200, 70, 1, 40, 10, 1, 40, 10), (999, 999, 5267, 48582, 17678236, 'Webformix Company', 'Webformix', 'Webformix Company', 290118, 'Webformix Company', 'OR', 410140000000000.0, 41013950100, 70, 1, 40, 10, 1, 40, 10))
2020-07-25 11:19:39,645 INFO sqlalchemy.engine.base.Engine COMMIT